nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    padding: 5px 15px;
}

nav li a {
    text-decoration: none;
    color: #222;
}

nav li:hover {
    background-color: lightsteelblue;
}

.drop-down {
    display: none;
    position: absolute;
}

nav>ul>li:hover>ul {
    display: block;
}